.services {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    color: $white;
    padding: 120px 15%;
    position: relative;

    &__content {
        border: 2px solid $white;
        padding: 50px 175px 25px;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 75% 0, 75% 3%, 25% 3%, 25% 0);

        @include media('<=1024px') {
            padding: 50px 80px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 80% 0, 80% 3%, 20% 3%, 20% 0);
        }

        @include media('<=768px') {
            padding: 50px 40px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 85% 0, 85% 3%, 15% 3%, 15% 0);
        }

        @include media('<=320px') {
            padding: 50px 10px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 90% 0, 90% 3%, 10% 3%, 10% 0);
        }
    }

    &__title {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        font-size: $h2;

        @include media('<=768px') {
            font-size: $h3;
            top: 105px;
        }

        @include media('<=320px') {
            font-size: 16px;
        }
    }

    &__text {
        max-width: 523px;
        line-height: 25px;
    }
}