.we-do {
    padding: 120px 15%;
    position: relative;

    &__content {
        border: 2px solid $black;
        padding: 125px 120px 25px;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 75% 0, 75% 3%, 25% 3%, 25% 0);

        @include media('<=1024px') {
            padding: 125px 80px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 80% 0, 80% 3%, 20% 3%, 20% 0);
        }

        @include media('<=768px') {
            padding: 125px 40px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 85% 0, 85% 3%, 15% 3%, 15% 0);
            display: flex;
            flex-wrap: wrap;
        }

        @include media('<=320px') {
            padding: 125px 10px 25px;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 90% 0, 90% 3%, 10% 3%, 10% 0);
        }

        &_design, &_development, &_management {
            @include media('<=768px') {
                max-width: 50%;
                padding: 0 5px;
            }

            @include media('<=520px') {
                max-width: 100%;
            }
        }
    }

    &__title {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        font-size: $h2;
        text-transform: uppercase;


        @include media('<=768px') {
            font-size: $h3;
            top: 100px;
        }

        @include media('<=320px') {
            font-size: 16px;
        }
    }

    &__icon {
        font-size: $icon;
    }

    &__spec {
        font-size: $h3;
        padding: 25px 0;
    }

    &__text {
        font-size: $text16;
        max-width: 650px;
        line-height: 25px;
        padding-bottom: 90px;
    }
}